/* Resetando margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e fonte padrão */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Container principal */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Cabeçalho */
header {
    background-color: #003366; /* Azul escuro */
    color: #fff;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-size: 2.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Seções */
section {
    padding: 40px 0;
    text-align: center;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

section p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

/* Imagens nas seções */
.img-home, .img-sobre {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

/* Serviços */
ul {
    list-style-type: none;
}

ul li {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Formulário de contato */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label {
    font-size: 1rem;
    margin: 10px 0 5px;
}

form input, form textarea {
    padding: 10px;
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form button {
    padding: 10px 20px;
    background-color: #003366; /* Azul escuro */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #002244; /* Azul escuro ainda mais intenso */
}

/* Rodapé */
footer {
    background-color: #003366;
    color: #fff;
    text-align: center;
    padding: 20px;
}

/* Estilos para o botão de rolar para o topo */
.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #003366; /* Azul escuro */
    color: white;
    padding: 15px 20px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.5rem;
    display: none;
}

.back-to-top:hover {
    background-color: #002244; /* Azul escuro ainda mais intenso */
}

/* Link do WhatsApp */
a {
    color: #25D366; /* Cor do WhatsApp */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
